<div class="d-flex flex-wrap justify-content-center">
  <div>
    {% for post in posts %}
    <div class="mt-2 mb-2" id="{{ post.id }}" name="article">

      <div class="alert alert-custom" role="alert">
        <div class="pb-3">
          <h2>
            {{ post.title }}
            <a href="{{ post.github }}">
              <i class="bi bi-github pl-2" data-toggle="tooltip" title="Visit Project on GitHub"></i>
            </a>
            {% if post.website %}
            <a href="{{ post.website }}">
              <i class="bi bi-globe2 pl-2" data-toggle="tooltip" title="Visit Deployed Website"></i>
            </a>
            {% endif %}
          </h2>
        </div>
        <div>
          <img class="img-fluid rounded mx-auto d-block post-image" width="70%"
            src="{{ post.image }}">
        </div>
        <div class="pt-3">
          {{ post.parse_content|safe }}
        </div>
      </div>

    </div>
    {% endfor %}
    <div class="text-center mt-2">
      <button type="button" class="btn btn-danger" id="project_link">
        <i class="bi bi-arrow-left"></i> back
      </button>
    </div>
  </div>
</div>