<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Thanks for visiting my portfolio blog!</strong>
  Feel free to contact me at any time 🍒.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Web development bootcamp fresh graduate~~~~~</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div> -->